<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title> Cert Chain - 블록체인 자격증명 서비스 </title>

    <!-- Favicon -->
    <link rel="icon" href="./img/core-img/favicon.png">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="css/modal.css">
    <link rel="stylesheet" href="css/style.css">

</head>

<body>

    <% include header %>

    <!-- Blog Area Start -->
    <div class="roberto-news-area section-padding-100-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <!-- Newsletter -->
                    <div class="single-widget-area mb-100">
                        <div class="newsletter-form">
                            <h5>경력증명서 발급하기</h5>
                            <p>증명서를 발급할 수 있습니다. <br>발급된 증명서는 평생 보관됩니다.</p><br>
                            직원명
                            <input type="text" id="career_name" class="form-control" placeholder="직원명을 입력해주세요.">
                            생년월일
                            <input type="date" id="career_birth" class="form-control">
                            입사일자
                            <input type="date" id="career_join" class="form-control">
                            퇴사일자
                            <input type="date" id="career_leave" class="form-control">
                            최종부서
                            <input type="text" id="career_dept" class="form-control" placeholder="최종부서를 입력해주세요.">
                            직급
                            <input type="text" id="career_rank" class="form-control" placeholder="직급을 입력해주세요.">
                            발급대상 키
                            <input type="text" id="career_key" class="form-control" placeholder="키를 입력해주세요.">
                            <button class="btn roberto-btn w-100" id="career_insert_btn">경력증명서 발급</button>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Blog Area End -->

    <% include footer %>

    <!-- **** All JS Files ***** -->
    <!-- jQuery 2.2.4 -->
    <script src="js/jquery.min.js"></script>
    <!-- Popper -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <!-- All Plugins -->
    <script src="js/roberto.bundle.js"></script>
    <!-- Active -->
    <script src="js/default-assets/active.js"></script>

    <!-- Main Javascript -->
    <script src="js/main.js"></script>



</body>

</html>