<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title> Cert Chain - 블록체인 자격증명 서비스 </title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.png">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="css/modal.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/register_page.css">

</head>

<body>

    <% include header %>

    <!-- Blog Area Start -->
    <div class="roberto-news-area section-padding-100-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div id="container">
                        <div id="content">
                
                            <!--// CertChain 로그인-->
                            <div class="joinWrap">
                                <p class="title"><img src="/img/logo/certchain_logo0.png" height='200px' width='280px'><br><em style="font-style: normal">회원가입</em>을 환영합니다!</p>
                                <div class="memGG">
                                    <h3 class="skip">개인회원 가입</h3>
                                    <p class="gTxt gg_txt"><br>자신의 <span class="txt_gg_point">커리어</span>를 등록해 관리해보세요.</p>
                                    <a href="register_page_indiv"><img
                                                src="img/btn_gg_1_n.png" alt="개인회원 가입"></a>
                                </div>
                                <div class="memGI">
                                    <h3 class="skip">기업회원(단체/기관) 가입</h3>
                                    <p class="gTxt gi_txt"><br>인재들의 <span class="txt_gi_point">커리어</span>를 만들어 주세요.</p>
                                    <a href="register_page_ent"><img 
                                        src="img/btn_gi_1_n.png" alt="기업회원 가입"></a>
                                    <p class="txt_1">※ 기업, 학교, 자격증발급기관</p>
                                </div>
                            </div>                 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Blog Area End -->


    <% include footer %>

    <!-- **** All JS Files ***** -->
    <!-- jQuery 2.2.4 -->
    <script src="js/jquery.min.js"></script>
    <!-- Popper -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <!-- All Plugins -->
    <script src="js/roberto.bundle.js"></script>
    <!-- Active -->
    <script src="js/default-assets/active.js"></script>
    <!-- Main Javascript -->
    <script src="js/main.js"></script>
    <!-- reCaptcha Javascript -->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</body>

</html>